---
layout: layout.html
active: carlist
header:
      name: Daftar Kendaraan
      breadcrumb:
          - {"name": "Home", "url": "/"}
          - {"name": "Service", "url": "/service"}
          - {"name": "Car List", "url": "/service/carlist"}
manufacturers:
    - name: Hyundai
    - name: Toyota
    - name: Honda
    - name: Mitsubishi
cars:
    - name: Stargazer
      manufacturer: Hyundai
      imagepath: stargazer.jpg
    - name: Creta
      manufacturer: Hyundai
      imagepath: creta.jpg
    - name: Tucson
      manufacturer: Hyundai
      imagepath: tucson.jpg
    - name: H1
      manufacturer: Hyundai
      imagepath: h1.jpg
    - name: Santa Fe
      manufacturer: Hyundai
      imagepath: santafe.jpg
    - name: Palisade
      manufacturer: Hyundai
      imagepath: palisade.jpg
    - name: Avanza
      manufacturer: Toyota
      imagepath: avanza.jpg
    - name: Calya
      manufacturer: Toyota
      imagepath: calya.jpg
    - name: Kijang Innova Reborn
      manufacturer: Toyota
      imagepath: innova-reborn.jpg
    - name: Kijang Innova Zenix
      manufacturer: Toyota
      imagepath: innova-zenix.jpg
    - name: Camry
      manufacturer: Toyota
      imagepath: camry.jpg
    - name: Corolla
      manufacturer: Toyota
      imagepath: corolla.jpg
    - name: Fortuner
      manufacturer: Toyota
      imagepath: fortuner.jpg
    - name: Voxy
      manufacturer: Toyota
      imagepath: voxy.jpg
    - name: Hiace
      manufacturer: Toyota
      imagepath: hiace.jpg
    - name: Alphard
      manufacturer: Toyota
      imagepath: alphard.jpg
    - name: WR-V
      manufacturer: Honda
      imagepath: wrv.jpg
    - name: CR-V
      manufacturer: Honda
      imagepath: cr-v.jpg
    - name: Accord
      manufacturer: Honda
      imagepath: accord.jpg
    - name: Xpander
      manufacturer: Mitsubishi
      imagepath: expander.jpg
---
  
{% include "header.html" %}

<!-- <div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0"> -->
        <div class="d-flex align-items-center flex-column">
            <h6 class="text-secondary text-uppercase">Daftar Kendaraan</h6>
            <h1 class="mb-2">Jelajahi Mobil Terbaru Kami</h1>
            <p class="mb-5 text-center">Hubungi kami terkait informasi lebih tentang kendaraan yang anda inginkan.</p>
        </div>
        {% for manufacturer in manufacturers %}
            <h3 style="text-align: center; margin-top: 2vh;">{{manufacturer.name}}</h3>
            <div id="card-wrapper" class="px-lg-4" style="display: flex; flex-wrap: wrap; justify-content: center;">
                {% for product in cars %}
                    {% if product.manufacturer == manufacturer.name %}
                        <div class="car-card" class="wow fadeInUp" data-wow-delay="0.5s" style="margin: 0.3em;">
                            <div class="service-item p-4">
                                <div class="overflow-hidden mb-4 d-flex justify-content-center">
                                    <img class="car-img" src="/assets/img/cars/{{product.imagepath}}" alt="" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);">
                                </div>
                                <h4 class="mb-3 text-center">{{ product.name }}</h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    <!-- </div>
</div> -->
  

