<!-- Page Header Start -->
<div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Car Selection</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                {% for item in breadcrumb %}
                    {% if loop.last %}
                    <li class="breadcrumb-item text-white active" aria-current="page">{{item.name}}</li>
                    {% else %}
                    <li class="breadcrumb-item"><a class="text-white" href="{{item.url}}">{{item.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->