<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a href="{{ '/' | locale_url }}" class="navbar-brand  d-flex align-items-center px-4 px-lg-5">
        <img src="/assets/img/logo.jpeg" alt="" style="height: 5vh;">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle d-flex align-items-center">
                    {% if page.lang == 'en' %}
                    <img src="/assets/img/us.svg" alt="">
                    {% elsif page.lang == "id" %}
                    <img src="/assets/img/id.svg" alt="">
                    {% endif %}
                    <span>&nbsp;{{page.lang | upcase}}</span>
                </a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    <a href="{{ page.url | toEnglish }}" class="dropdown-item d-flex align-items-center">
                        <img src="/assets/img/us.svg" alt="">
                        <span>&nbsp;EN</span>
                    </a>
                    <a href="{{ page.url | toIndonesian }}" class="dropdown-item d-flex align-items-center">
                        <img src="/assets/img/id.svg" alt="">
                        <span>&nbsp;ID</span>
                    </a>
                </div>
            </div>
            <a href="{{ '/' | locale_url }}" class="nav-item nav-link {% if active == 'home' %} active {% endif %}">{{ 'home' |i18n}}</a>
            <a href="{{ '/how-it-works' | locale_url }}" class="nav-item nav-link {% if active == 'how-it-works' %} active {% endif %}">{{ 'how-it-works' | i18n }}</a>
            <div class="nav-item dropdown">
                <a href="{{ '/service' | locale_url }}" class="nav-link dropdown-toggle {% if active == 'service' %} active {% endif %}">{{ 'services' | i18n }}</a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    <a href="{{ '/service/corporate' | locale_url }}" class="dropdown-item">{{ 'corporate-rental' | i18n }}</a>
                    <a href="{{ '/service/individual' | locale_url }}" class="dropdown-item">{{ 'individual-rental' | i18n }}</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="{{ '/about' | locale_url }}" class="nav-link dropdown-toggle {% if active == 'about' %} active {% endif %}">{{"about-us" | i18n}}</a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    <a href="{{ '/about/history' | locale_url }}" class="dropdown-item">{{"corporate-history" | i18n}}</a>
                    <a href="{{ '/about/contact' | locale_url }}" class="dropdown-item">{{"contact-us" | i18n}}</a>
                    <!-- <a href="{{ '/about/refund' | locale_url }}" class="dropdown-item">{{"refund-policy" | i18n}}</a>
                    <a href="{{ '/about/terms' | locale_url }}" class="dropdown-item">{{"tnc" | i18n}}</a> -->
                </div>
            </div>
        </div>
        <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>{{phone}}</h4>
    </div>
</nav>
<!-- Navbar End -->