---
eleventyComputed:
    header:
        name: "{{'corporate-rental' | i18n}}"
        breadcrumb:
            - name: "{{'home' | i18n}}"
              url: /
            - name: "{{'services' | i18n}}"
              url: /service
            - name: "{{'corporate-rental' | i18n}}"
              url: /service/corporate
clients:
    - name: PT Krakatau Posco
      logo: /assets/img/company-Krakatau-Posco.png
    - name: PT HLI Green Power
      logo: /assets/img/company-hli.jpg
    - name: PT Glovis Indonesia Int
      logo: /assets/img/company-glovis.jpg
    - name: PT IBK
      logo: /assets/img/company-ibk.png
    - name: PT Hyundai AutoEver
      logo: /assets/img/company-autoever.jpg
    - name: PT Asiana Airlines
      logo: /assets/img/company-asiana.png
    - name: PT Meritz Korindo
      logo: /assets/img/company-meritz.png
    - name: PT Hanhwa Mining Indonesia
      logo: /assets/img/company-hanhwa.png
    - name: PT Doosan Heavy Industries
      logo: /assets/img/company-doosan.jpg
    - name: PT Hyundai Capital
      logo: /assets/img/company-hyundai-capital.png
    - name: PT Hyundai Kefico
      logo: /assets/img/company-kefico.png
    - name: PT CJ Logistics
      logo: /assets/img/company-cj-logistic.png
    
---

{% include "header.html" %}

<!-- Fully Featured Corporate Car Solutions Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">

        <!-- Client List Start -->
        <div class="container-xxl mb-5">
            <div class="container py-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Klien Kami</h6>
                    <h1>Turut dipercaya, dorong kemajuan bisnis.</h1>
                    <p class="mb-5">Layanan kami membantu merek-merek ini membangun bisnisnya sehingga tetap berkembang.</p>
                </div>
                <!-- <div class="row g-4">
                    <div class="carousel-container">
                        <div class="carousel" id="client-carousel">
                            {% for client in clients %}
                            <div class="carousel-slide d-flex align-items-center" style="height: 30vh;">
                                <img class="img-fluid" src="{{client.logo}}" alt="Client 1 Logo">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> -->
                <div id="card-wrapper" class="px-lg-4" style="display: flex; flex-wrap: wrap; justify-content: center;">
                    {% for company in clients in cars %}
                        <div class="car-card" class="wow fadeInUp" data-wow-delay="0.5s" style="margin: 0.3em;">
                            <div class="service-item p-4">
                                <div class="overflow-hidden mb-4 d-flex justify-content-center">
                                    <img class="car-img" src="{{company.logo}}" alt="">
                                </div>
                                <h4 class="mb-3 text-center">{{ company.name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Client List End -->
    </div>
</div>
<!-- Fully Featured Corporate Car Solutions End -->

<!-- Request New Cars Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Sopir Profesional</h1>
                    <p class="mb-5">Dengan sopir profesional kami, Anda dapat merasakan pengalaman perjalanan yang nyaman dan aman. Kami menyediakan kendaraan yang aman dan sopir berpengalaman untuk memastikan perjalanan yang menyenangkan bagi setiap penumpang.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Jaminan Kesehatan Sopir</h5>
                            <p class="m-0">Semua sopir kami menjalani pemeriksaan kesehatan secara rutin untuk memastikan kesejahteraan dan kesiapan mereka dalam melayani Anda.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            
                            <h5>Penggantian Cepat</h5>
                            <p class="m-0">Kami menawarkan penggantian sopir yang cepat dalam kasus darurat untuk memastikan layanan kami tetap berjalan tanpa gangguan.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/Monthly02.png" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Request New Cars End -->

<!-- Corporate Driver Management Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/Monthly01.png" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Jangkauan Luas dan Lengkap</h1>
                    <p class="mb-5">Nikmati kemudahan penyewaan mobil dengan sopir yang tersedia di seluruh wilayah Jabodetabek dan Jawa Barat. Armada kami terdiri dari berbagai merek terkemuka, seperti Hyundai, Toyota, Honda, dan Mitsubishi. Kami juga menyediakan pilihan sewa mobil baru untuk pelanggan yang ingin menyewa lebih dari dua tahun.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Armada Berkualitas</h5>
                            <p class="m-0">Mobil kami selalu dalam kondisi terbaik dan siap digunakan.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Pilihan Mobil Bervariasi</h5>
                            <p class="m-0">Kami menyediakan berbagai jenis mobil untuk memenuhi kebutuhan dan preferensi Anda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Corporate Driver Management End -->

<!-- Fleet Flexibility Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Kemudahan Monitoring</h1>
                    <p class="mb-5">Melalui aplikasi kami, pelanggan dapat dengan mudah memantau laporan harian sopir, termasuk absensi dan struk.</p>
                    <div class="wow fadeIn" data-wow-delay="0.5s">
                        
                        <h5>Pantau Laporan Sopir.</h5>
                        <p class="m-0">Lakukan pengecekan laporan harian sopir dengan mudah untuk menjaga transparansi layanan kami.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/Monthly03.png" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fleet Flexibility End -->