---
eleventyComputed:
    header:
        name: "{{'corporate-rental' | i18n}}"
        breadcrumb:
            - name: "{{'home' | i18n}}"
              url: /
            - name: "{{'services' | i18n}}"
              url: /service
            - name: "{{'corporate-rental' | i18n}}"
              url: /service/corporate
clients:
    - name: PT Krakatau Posco
      logo: /assets/img/company-Krakatau-Posco.png
    - name: PT HLI Green Power
      logo: /assets/img/company-hli.jpg
    - name: PT Glovis Indonesia Int
      logo: /assets/img/company-glovis.jpg
    - name: PT IBK
      logo: /assets/img/company-ibk.png
    - name: PT Hyundai AutoEver
      logo: /assets/img/company-autoever.jpg
    - name: PT Asiana Airlines
      logo: /assets/img/company-asiana.png
    - name: PT Meritz Korindo
      logo: /assets/img/company-meritz.png
    - name: PT Hanhwa Mining Indonesia
      logo: /assets/img/company-hanhwa.png
    - name: PT Doosan Heavy Industries
      logo: /assets/img/company-doosan.jpg
    - name: PT Hyundai Capital
      logo: /assets/img/company-hyundai-capital.png
    - name: PT Hyundai Kefico
      logo: /assets/img/company-kefico.png
    - name: PT CJ Logistics
      logo: /assets/img/company-cj-logistic.png
    
---

{% include "header.html" %}

<!-- Fully Featured Corporate Car Solutions Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">

        <!-- Client List Start -->
        <div class="container-xxl mb-5">
            <div class="container py-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Klien Kami</h6>
                    <h1>Turut dipercaya, dorong kemajuan bisnis.</h1>
                    <p class="mb-5">Layanan kami membantu merek-merek ini membangun bisnisnya sehingga tetap berkembang.</p>
                </div>
                <!-- <div class="row g-4">
                    <div class="carousel-container">
                        <div class="carousel" id="client-carousel">
                            {% for client in clients %}
                            <div class="carousel-slide d-flex align-items-center" style="height: 30vh;">
                                <img class="img-fluid" src="{{client.logo}}" alt="Client 1 Logo">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> -->
                <div id="card-wrapper" class="px-lg-4" style="display: flex; flex-wrap: wrap; justify-content: center;">
                    {% for company in clients in cars %}
                        <div class="car-card" class="wow fadeInUp" data-wow-delay="0.5s" style="margin: 0.3em;">
                            <div class="service-item p-4">
                                <div class="overflow-hidden mb-4 d-flex justify-content-center">
                                    <img class="car-img" src="{{company.logo}}" alt="">
                                </div>
                                <h4 class="mb-3 text-center">{{ company.name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Client List End -->
    </div>
</div>
<!-- Fully Featured Corporate Car Solutions End -->

<!-- Request New Cars Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Request Mobil Baru</h1>
                    <p class="mb-5">Untuk sewa jangka panjang, nikmati ketenangan pikiran dalam perjalanan yang menyegarkan. Aplikasi kami memungkinkan Anda meminta mobil baru, memastikan perjalanan Anda tetap dapat diandalkan seperti hari Anda memulai.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Transisi Terintegrasi.</h5>
                            <p class="m-0">Jadwalkan pengiriman armada baru Anda sesuai keinginan Anda hanya dengan beberapa ketukan di aplikasi kami. Tim kami akan menangani pertukaran tersebut, memastikan Anda tidak mengalami gangguan pada rencana bisnis Anda.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            
                            <h5>Ragam Pilihan Tersedia</h5>
                            <p class="m-0">Pilih armada terbaru kami sesuai dengan kebutuhan perusahaan Anda yang terus berkembang, baik jika Anda memerlukan jenis kendaraan yang berbeda atau fitur tambahan. Kami juga dapat memberikan rekomendasi berdasarkan kebutuhan dan preferensi bisnis Anda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/car-info.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Request New Cars End -->

<!-- Corporate Driver Management Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/car-info.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Manajemen Pengemudi Untuk Korporasi</h1>
                    <p class="mb-5">Dukung bisnis Anda dengan manajemen pengemudi yang handal. Aplikasi kami menawarkan pelanggan korporat fleksibilitas untuk menugaskan dan mengelola pengemudi mereka sendiri dengan mudah, memastikan kelancaran operasional dan efisiensi maksimum.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Atur Pengemudi Dengan Mudah</h5>
                            <p class="m-0">Atur pengemudi dengan mudah dengan kendaraan atau rute tertentu melalui aplikasi kami. Fitur ini membantu Anda beradaptasi dengan cepat terhadap perubahan kebutuhan bisnis tanpa kerumitan apa pun.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Koordinasi Perusahaan yang Dinamis</h5>
                            <p class="m-0">Kelola semua pengemudi perusahaan Anda di satu tempat, memungkinkan koordinasi dan komunikasi yang lebih baik. Hal ini memastikan armada Anda beroperasi dengan lancar dan efisien, meminimalkan waktu henti dan memaksimalkan produktivitas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Corporate Driver Management End -->

<!-- Fleet Flexibility Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Fleksibilitas Armada untuk Perusahaan</h1>
                    <p class="mb-5">Disesuaikan untuk kebutuhan bisnis, aplikasi kami menawarkan pilihan dan jumlah armada yang melimpah.</p>
                    <div class="wow fadeIn" data-wow-delay="0.5s">
                        
                        <h5>Pilih Jumlah dan Tipe Armada Anda.</h5>
                        <p class="m-0">Perusahaan dapat dengan mudah meminta mobil dalam jumlah besar, memastikan banyak pilihan untuk mengakomodasi skala operasi apa pun dengan mudah.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/car-info.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fleet Flexibility End -->