---
header:
    name: Corporate Rentals
    breadcrumb:
        - {"name": "Home", "url": "/"}
        - {"name": "Service", "url": "/service"}
        - {"name": "Corporate Rental", "url": "/service/corporate"}
clients:
    - name: PT Krakatau Posco
      logo: /assets/img/company-Krakatau-Posco.png
    - name: PT HLI Green Power
      logo: /assets/img/company-hli.jpg
    - name: PT Glovis Indonesia Int
      logo: /assets/img/company-glovis.jpg
    - name: PT IBK
      logo: /assets/img/company-ibk.png
    - name: PT Hyundai AutoEver
      logo: /assets/img/company-autoever.jpg
    - name: PT Asiana Airlines
      logo: /assets/img/company-asiana.png
    - name: PT Meritz Korindo
      logo: /assets/img/company-meritz.png
    - name: PT Hanhwa Mining Indonesia
      logo: /assets/img/company-hanhwa.png
    - name: PT Doosan Heavy Industries
      logo: /assets/img/company-doosan.jpg
    - name: PT Hyundai Capital
      logo: /assets/img/company-hyundai-capital.png
    - name: PT Hyundai Kefico
      logo: /assets/img/company-kefico.png
    - name: PT CJ Logistics
      logo: /assets/img/company-cj-logistic.png

---

{% include "header.html" %}

<!-- Fully Featured Corporate Car Solutions Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">

        <!-- Client List Start -->
        <div class="container-xxl mb-5">
            <div class="container py-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Our Clients</h6>
                    <h1>Trusted By Many, driving businesses forward</h1>
                    <p class="mb-5">Our services helps these brands build their businesses and keep it growing.</p>
                </div>
                <!-- <div class="row g-4">
                    <div class="carousel-container">
                        <div class="carousel" id="client-carousel">
                            {% for client in clients %}
                            <div class="carousel-slide d-flex align-items-center" style="height: 30vh;">
                                <img class="img-fluid" src="{{client.logo}}" alt="Client 1 Logo">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> -->
                <div id="card-wrapper" class="px-lg-4" style="display: flex; flex-wrap: wrap; justify-content: center;">
                    {% for company in clients in cars %}
                        <div class="car-card" class="wow fadeInUp" data-wow-delay="0.5s" style="margin: 0.3em;">
                            <div class="service-item p-4">
                                <div class="overflow-hidden mb-4 d-flex justify-content-center">
                                    <img class="car-img" src="{{company.logo}}" alt="">
                                </div>
                                <h4 class="mb-3 text-center">{{ company.name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Client List End -->

    </div>
</div>
<!-- Fully Featured Corporate Car Solutions End -->

<!-- Request New Cars Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Professional Drivers</h1>
                    <p class="mb-5">With our professional drivers, you can enjoy a comfortable and safe travel experience. We provide secure vehicles and experienced drivers to ensure a pleasant journey for every passenger.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <h5>Driver Health Assurance</h5>
                            <p class="m-0">All our drivers undergo regular health checks to guarantee their well-being and readiness to serve you.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            
                            <h5>Rapid Replacement</h5>
                            <p class="m-0">In the event of an emergency, we offer swift driver replacement to ensure that our services continue without interruption.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/Monthly02.png" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Request New Cars End -->

<!-- Corporate Driver Management Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/Monthly01.png" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Extensive and Comprehensive Coverage</h1>
                    <p class="mb-5">Experience the convenience of car rentals with drivers available throughout the Jabodetabek and West Java regions. Our fleet features a variety of renowned brands, including Hyundai, Toyota, Honda, and Mitsubishi. We also offer new vehicle rental options for customers seeking rentals of more than two years.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Quality Fleet</h5>
                            <p class="m-0">Our vehicles are consistently maintained to ensure they are in optimal condition and ready for use.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Diverse Vehicle Options</h5>
                            <p class="m-0">We provide a wide range of vehicles to meet your specific needs and preferences.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Corporate Driver Management End -->

<!-- Fleet Flexibility Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 about-text wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                <div>
                    <h6 class="text-secondary text-uppercase mb-3">{{'services' | i18n}}</h6>
                    <h1 class="mb-3">Easy Monitoring</h1>
                    <p class="mb-5">Through our application, customers can conveniently monitor daily reports for drivers, including attendance and receipts.</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Driver Report Monitoring</h5>
                            <p class="m-0">Effortlessly check daily driver reports to maintain transparency in our services.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            
                            <h5>Attendance and Receipt Oversight</h5>
                            <p class="m-0">Ensure oversight of operational expenses with reliable monitoring of attendance and receipts.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="overflow-hidden" style="height: 59vh;">
                    <img class=" img-fluid w-100 h-100" src="/assets/img/Monthly03.png" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fleet Flexibility End -->